<div class="row">
  <div class="col-7 mx-auto bg-white p-3">
    <h2 class="text-center mb-3">Edit Profile</h2>
    <hr class="mb-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row g-3 mb-3">
        <div class="col">
          <%= f.label :first_name,class:"form-label" %>
          <%= f.text_field :first_name, class:'form-control', placeholder:'First name',aria_label:"First name"%>
        </div>
        <div class="col">
          <%= f.label :last_name,class:"form-label" %>
          <%= f.text_field :last_name, class:'form-control', placeholder:'Last name',aria_label:"Last name"%>
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col">
          <%= f.label :email,class:"form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'Email',aria_label:"Email"%>
        </div>
        <div class="col">
          <%= f.label :birthday,'DOB',class:"form-label" %>
          <%= f.date_field :birthday, class:'form-control', placeholder:'DoB',aria_label:"DoB"%>
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col">
          <%= f.label :password, class:'form-label' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password",class:'form-control', placeholder:'Password',aria_label:"Password" %>
        </div>
        <div class="col">
          <%= f.label :password_confirmation,'Confirm Password', class:'form-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control', placeholder:'Confirm Password',aria_label:"Confirm Password" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Update",:class=>'btn btn-success col-3 mx-auto d-block' %>
      </div>
    <% end %>
    <hr class="mb-5">
    <div class="row">
      <div class="col-12">
        <h3 class="my-3">Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:'btn btn-danger' %></p>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
