<div class="row">
  <%# <div class="col-12"> %>
  <% unless comment.parent_id || !comment.persisted? %>
    <div class="card mb-2 col-12">
      <div class="card-header">
        <%= commenter_name comment.user_id %>
      </div>
      <div class="card-body">
        <%= comment.body.html_safe %>
      </div>
      <div class="card-footer">
        <div class="col-3 ms-auto">
          <span id="comment-<%= comment.id %>-likes"><%= comment.comment_likes.count %></span>
          <%= link_to add_comment_like_path(comment_id: comment.id), remote:true do  %>
            <%= icon("fa-solid","thumbs-up") %>
          <% end %>
          <%= link_to 'reply', new_post_comment_path(@post, parent_id: comment.id), remote: true, class: 'd-inline btn btn-light ' %>
        </div>
      </div>
      <% if comment.replies.any? %>
        <div class="row" id="comment-reply-<%= comment.id%>">
          <% comment.replies.each do |reply| %>
            <%= render partial: 'comments/reply', locals: { reply: reply } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-10 mx-auto">
    <div id="reply-form-<%= comment.id %>"></div>
  </div>
</div>
