<div class="row bg-white mb-2 p-3">
  <%= render 'comments/alerts' %>
  <% unless comment.parent_id || !comment.persisted? %>
    <div class="card mb-2 col-12">
      <div class="card-header">
        <%= commenter_name comment.user_id %>
      </div>
      <div class="card-body">
        <%= comment.body.html_safe %>
      </div>
      <div class="card-footer">
        <%= render partial:'comments/like_btn',locals:{comment: comment} %>
      </div>
    </div>
    <div id="comment-<%= comment.id %>-replies">
      <% if comment.replies.any? %>
        <%= render partial:"comments/reply" , collection:comment.replies   %>
      <% end %>
    </div>
  <% end %>
  <div class="col-12 mx-auto comment-reply-<%= comment.id%>-form">
    <div id="reply-form-<%= comment.id %>"></div>
  </div>
</div>
<script>
  $(document).ready(()=>{
    $(".comment-like-error").hide();
   $(".comment-reply-error").hide();
   function show_reply_form(post_id){
     <% if !current_user.nil?%>
         $(`#${post_id}`).show();
     <%else%>
       $("#login_error").show();

       setTimeout(() => {
         $("#login_error").hide();

       },3000);
     <%end%>
   }
   $(".comment-like-btn").click(()=>{
     $(".comment-like-error").show();
     setTimeout(() => {
         $(".comment-like-error").hide();
       },3000);
   });
   $(".reply-btn").click(()=>{
       $(".comment-reply-error").show();
       setTimeout(() => {
         $(".comment-reply-error").hide();
       },3000);
   });
  });
  $(document).ready(()=>{
    $("#comment-textbox").keyup(()=>{
       $("comment_btn").attr("disabled","true");
      let comment_body = $("#comment-textbox").val();
      if(comment_body.length<1)
      {
        $("#comment_error").text("Comment can't be empty");

        return false;
      }
    });
  });
</script>
