<div class="col-11 mb-2 ms-auto">
  <div class="card ml-5">
    <div class="card-header">
      <%= commenter_name reply.user_id %>
    </div>
    <div class="card-body">
      <%= reply.body.html_safe %>
    </div>
    <div class="card-footer">
      <div class="col-3 ms-auto">
        <span id="comment-<%= reply.id %>-likes"><%= reply.comment_likes.count %></span>
        <%= link_to post_comment_comment_likes_path(post_id:reply.post_id,comment_id: reply.id), remote:true do  %>
          <%= icon("fa-solid","thumbs-up") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
