<div class="row">
  <div class="post_like_error position-fixed mt-5 top-0 end-0 ">
    <div class="alert alert-danger col-3 ms-auto alert-dismissible fade show" role="alert">
      <strong>Please Login to like  this post.  </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="card post mb-3 col-11 mx-auto">
    <div class="card-body px-0">
      <div class="row p-0">
        <div class="col-2 post-card-img">
          <%= image_tag (post.header_img if ! post.header_img.nil?), alt: "header_img" %>
        </div>
        <div class="col-10 ps-5 position-relative">
          <div class="row">
            <h5 class="card-title"><%= post.title.truncate(200) %></h5>
            <p class=" text-muted fs-6"><%= post.body.truncate(200).html_safe %></p>
          </div>
          <div class="row position-absolute bottom-0">
            <div class="row">
              <hr>
              <div class="col-3">
                <p> <strong>Created at:</strong> <%= date_formatter post.published_date %></p>
              </div>
              <% if !current_user.nil? %>
                <% if post_like_exists?( post.user_id) %>
                  <%= link_to post_post_like_path(post_id:post.id),id:"post-like-btn-#{post.id}",class:"d-inline-block bg-primary text-white col-4 rounded border text-center", remote:true do %>
                    <p class="fs-5" > <span  id="post_likes-<%= post.id %>"><%= post.post_likes.count %></span> &nbsp<%= icon("fa-regular","thumbs-up") %>
                    </p>
                  <% end %>
                <%else%>
                  <%= link_to post_post_like_path(post_id:post.id),id:"post-like-btn-#{post.id}",class:"d-inline-block bg-white text-secoundary col-4 rounded border text-center", remote:true do %>
                    <p class="fs-5" > <span  id="post_likes-<%= post.id %>"><%= post.post_likes.count %></span> &nbsp<%= icon("fa-regular","thumbs-up") %>
                    </p>
                  <% end %>
                <% end %>
              <% else %>
                <button  class="d-inline-block bg-white text-secoundary col-4 rounded border text-center"onclick="show_post_like_error(<%= post.id%>)">
                  <p class="fs-5" > <span  id="post_likes-<%= post.id %>"><%= post.post_likes.count %></span> &nbsp<%= icon("fa-regular","thumbs-up") %>
                  </p>
                </button>
              <% end %>
              <div class="col-4">
                <%= link_to 'Show Details', post_path(post),class:'btn btn-link ms-auto ' %>
                <% if post.user==current_user %>
                  <%= link_to 'Edit', edit_post_path(post),class:'btn btn-info ms-auto ' %>
                  <%= link_to 'Delete', post_path(post),method: :delete,data: { confirm: 'Are you sure?' },class:'btn btn-danger ms-auto ' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".post_like_error").hide();
  function show_post_like_error(){
    $(".post_like_error").show();
    setTimeout(()=>{
       $(".post_like_error").hide();
    },3000)
  }
</script>
