<div class="row">
  <div class="card post mb-3 col-11 mx-auto">
    <div class="card-body px-0">
      <div class="row p-0">
        <div class="col-2 post-card-img">
          <%= image_tag (post.header_img if ! post.header_img.nil?), alt: "header_img" %>
        </div>
        <div class="col-10 ps-5">
          <h5 class="card-title"><%= post.title.truncate(200) %></h5>
          <p class=" text-muted fs-6"><%= post.body.truncate(200).html_safe %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p> <strong>Created at:</strong> <%= date_formatter post.published_date %></p>
        </div>
        <div class="col-4">
          <p id="likes">
          </p>
          <%= link_to add_post_like_path(post_id:post.id),class:'text-primary text-decoration-none', remote:true do %>
            <p> <span  id="post_likes-<%= post.id %>"><%= post.post_likes.count %></span>
              <%= icon("fa-solid","thumbs-up", class: 'fa-shake') %>
            </p>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to 'Show Details', post_path(post),class:'btn btn-link ms-auto ' %>
          <% if post.user==current_user %>
            <%= link_to 'Edit', edit_post_path(post),class:'btn btn-info ms-auto ' %>
            <%= link_to 'Delete', post_path(post),method: :delete,class:'btn btn-danger ms-auto ' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
