<%= render 'shared/page_header',header_title: 'Read Your Favourates Post here'%>
<div class="container">
  <div class="row p-3 mb-3 bg-white">
    <%= link_to 'Create Post', new_post_path ,class:'btn btn-success col-2 ms-5' %>
    <form class="d-flex col-4 ms-auto me-3" role="search">
      <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <% @posts.each do |post| %>
        <div class="card post mb-4 rounded">
          <div class="card-body row  p-2">
            <div class="col-2  post-card-img">
              <%= image_tag post.header_img, alt: "header_img" %>
            </div>
            <div class="col-10">
              <h5 class="card-title"><%= post.title.truncate(200) %></h5>
              <p class=" text-muted fs-6"><%= post.body.html_safe.truncate(400) %></p>
            </div>
          </div>
          <div class="card-footer row p-2">
            <div class="col-4">
              <p> <strong>Created at:</strong> <%= date_formatter post.published_date %></p>
            </div>
            <div class="col-4">
              <% if post.likes.nil? %>
                <%= link_to post_likes_path(id:post.id),class:'text-dark text-decoration-none', remote:true do %>
                  <p><span  id="post_likes"></span> <i class="fa-solid fa-thumbs-up fs-5"></i> </p>
                <% end %>
                <%# <a><i class=""></i></a> %>
              <% else %>
                <%= link_to post_likes_path(id:post.id),class:'text-primary text-decoration-none', remote:true do %>
                  <p> <span  id="post_likes"><%= post.likes %></span> <i class="fa-solid fa-thumbs-up fs-5"></i>  </p>
                <% end %>
              <% end %>
            </div>
            <div class="col-4">
              <%= link_to 'Show Details', post_path(post),class:'btn btn-info ms-auto ' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
