<div class="container bg-white mb-4">
  <div class="row py-3">
    <h3 class="mb-5"><%= @post.title %></h3>
    <%= image_tag @post.header_img, alt: "text", class: 'img-thumbnail post-header-img mb-3' %>
    <p class="lead text-start">
      <%= @post.body.html_safe%>
    </p>
    <hr>
    <div class="col-3 me-auto">
      <%= date_formatter @post.published_date %>
    </div>
    <div class="col-3 ms-auto">
      Author: <%= authur_name_by_id @post.user_id %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row bg-white py-4 mb-2">
    <h4 class="px-3">Comments</h4>
  </div>
  <div id="comments">
    <%= render @post.comments %>
  </div>
  <%= render 'comments/form' %>
</div>
