<%= link_to "BlogSite",root_path,class:'h3 mb-5'  %>
<nav class="nav mt-3 flex-column p-5">
  <%= link_to "Dashboard", root_path, class:'nav-link text-normal h6 mb-2' %>
  <%= link_to "Post Categories",root_path, class:'nav-link  text-normal h6 mb-2'%>
  <%= link_to "Posts",root_path, class:'nav-link  text-normal h6 mb-2'%>
  <%= link_to "Reported Post",root_path, class:'nav-link  text-normal h6 mb-2'%>
  <%= link_to "Suggestion",root_path, class:'nav-link  text-normal h6  mb-2'%>
</nav>
<%# <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul> %>
