<%= link_to "BlogSite",root_path,class:'h3  mb-5 p-5'  %>
<nav class="nav mt-3 flex-column p-5">
  <%= link_to "Dashboard", moderator_dashboard_path, class:'nav-link text-normal h6 mb-2' %>
  <%= link_to "Recent Posts",recent_posts_path, class:'nav-link  text-normal h6 mb-2'%>
  <%= link_to "Reported Posts",reported_posts_path, class:'nav-link  text-normal h6  mb-2'%>
  <%= link_to "Suggestion",suggestions_path, class:'nav-link  text-normal h6  mb-2'%>
</nav>
