<div class="row px-3 bg-white">
  <h2 class="mb-3 p-4">Suggestion </h2>
  <hr>
</div>
<div class="row bg-white px-3">
  <h3>Recent Suggestion</h3>
  <hr>
  <table class="table  table-striped">
    <thead>
      <tr>
        <th scope="col">Suggestion#</th>
        <th  scope="col">Sugesstion Text Title</th>
        <th scope="col">Post</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="post_data">
      <% @suggestions.each do |suggestion| %>
        <tr>
          <th scope="row"><%= suggestion.id %>
          </th>
          <td><%= suggestion.body %></td>
          <td id="suggestion-<%= suggestion.id%>-status" ><%= suggestion.post_id %></td>
          <td>
            <%= link_to "Delete", post_suggestion_path(post_id: suggestion.post_id,id:suggestion.id),method: :delete, class:"btn mx-auto btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
